h1 {
text-shadow: 0 0 20px #FF0000;
}

h2 {
text-shadow: 0 0 20px #FF0000;
}

p {
  text-shadow: 2px 1px 1px #000;
}

body {
	background-image: url(../resources/images/blur/world-map.jpg);
	background-repeat: repeat;
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 150px;
	margin-bottom: 20px;
}

body,td,th {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}

.purpose, .content, .details{
  border:10px solid #000000;
  border-radius: 20px;
  padding:20px;
  margin-top: 10px;
}

#detailtable{
  border:3px solid #FFFFFF;
  border-radius: 20px;
  padding:20px;
}
td{
  padding: 7px;

}
a {
  color:#3498db;
  text-shadow: 0.5px 1px 5px #000;
}
.buttons a{
  border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding:15px 0px;
    border:4px solid #3498db;
    width: 200px;
    border-radius: 2em;
    outline: none;
    color: white; 
    cursor: pointer;
}
.buttons a:hover{
   background: mediumaquamarine;
   width: 240px;
    border-color: #26ff00;

   transition: .2s;
}
