h1 {
    text-shadow: 0 0 20px #FF0000;
}

body {
	background-image: url(../resources/images/0271.jpg);
	background-repeat:100% 100%;
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 150px;
	margin-bottom: 20px;
}

body,td,th {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	text-shadow: 2px 1px 1px #000;
}

A {
  text-decoration: none;
  text-shadow: 0.5px 1px 5px #000;
  }
