h1 {
    text-shadow: 0 0 20px #FF0000;
}

h2 {
  text-shadow: 0 0 20px #FF0000;
}

h3 {
  text-shadow: 0 0 20px #FF0000;
}

li {
    text-shadow: 2px 1px 1px #000;
}


body {
	background-image: url(../resources/images/blur/world-map.jpg);
	background-repeat: repeat;
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 150px;
	margin-bottom: 20px;
}

body, td, th {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}

A {
  text-decoration: none;
  text-shadow: 0.5px 1px 5px #000;
  }
img{
	width: 60%;
	height: auto;
	

}
.wrapper{
	margin-bottom: 40px;
	margin-top: 30px;
	word-spacing: 0.2em;
}