h1 {
    text-shadow: 0 0 20px #FF0000;
}
h2 {
  text-shadow: 0 0 20px #FF0000;
}
p {
    text-shadow: 2px 1px 1px #000;
}

body {
	background-image: url(../resources/images/red-strips.jpg);
	background-repeat: repeat;
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 150px;
	margin-bottom: 20px;
}

body,td,th {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}
.heading-about {
	font-family: Verdana, Geneva, sans-serif;
}
.font-front-page {
	font-family: Georgia, Times New Roman, Times, serif;
}
.front-page-link {
	font-family: Verdana, Geneva, sans-serif;
}

A {
  text-decoration: none;
  }
