h1 {
    text-shadow: 0 0 20px #FF0000;
}

body {
	background-image: url(../resources/images/blur/world-map.jpg);
	background-repeat: repeat;
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 150px;
	margin-bottom: 20px;
}

body, td, th {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}

A {
  text-decoration: none;
  text-shadow: 0.5px 1px 5px #000;
  }
  
th, td {
  border: 1px solid grey;
    padding: 15px;
}

table {
  border-collapse: collapse;
}

